{:paths   ["src"]
 :deps    {bidi                        {:mvn/version "2.1.6"}
           binaryage/devtools          {:mvn/version "0.9.11"}
           com.andrewmcveigh/cljs-time {:mvn/version "0.5.2"}
           day8.re-frame/http-fx       {:mvn/version "v0.2.0"}
           org.clojure/clojurescript   {:mvn/version "1.10.597"}
           re-frame                    {:mvn/version "0.10.9"}
           clj-commons/cljss           {:mvn/version "1.6.4"}
           re-frisk                    {:mvn/version "0.5.4.1"}
           re-graph                    {:mvn/version "0.1.11"}
           reagent                     {:mvn/version "0.8.1"}
           reagent-forms               {:mvn/version "0.5.43"}}

 :aliases {:cljs       {:extra-deps {thheller/shadow-cljs {:mvn/version "2.8.81"}}}
           :nrepl      {:extra-deps {nrepl {:mvn/version "0.6.0"}}
                        :main-opts  ["-m" "nrepl.cmdline"]}
           :test       {:extra-deps  {thheller/shadow-cljs {:mvn/version "2.8.81"}}
                        :extra-paths ["test/unit"]}
           :smoke-test {:extra-deps  {com.cemerick/url    {:mvn/version "0.1.1"}
                                      etaoin              {:mvn/version "0.3.6"}
                                      lambdaisland/kaocha {:mvn/version "0.0-529"}
                                      org.clojure/clojure {:mvn/version "1.10.1"}}
                        :extra-paths ["test/smoke"]
                        :main-opts   ["-m" "kaocha.runner"]}
           :ancient    {:main-opts  ["-m" "deps-ancient.deps-ancient"]
                        :extra-deps {deps-ancient {:mvn/version "0.0.4"}}}
           :assets     {:main-opts   ["-m" "atomist.webapp.assets"]
                        :extra-deps  {thheller/shadow-cljs {:mvn/version "2.8.81"}}
                        :extra-paths ["dev/clj"]}}}
