{:deps {:aliases [:cljs]}
 :source-paths ["src"]
 :dev-http {8080 "target/"}
 :builds {:app {:output-dir "target/"
                :asset-path "."
                :build-hooks [(shadow.html/copy-file "assets/index.html" "target/index.html")]
                :target :browser
                :modules {:main {:init-fn app.main/run}}
                :source-map true
                :devtools {
                           :after-load app.main/run
                           :repl-init-ns app.main
                           :repl-pprint true
                           }}
          :node-test {:target :node-test
                      :ns-regexp "-test$"
                      :output-to "target/node-test.js"}
          :karma-test {:target :karma
                       :ns-regexp "-test$"
                       :output-to "target/karma-test.js"}}}
